.git
.github
.githooks
.claude
.idea
.vscode
.dockerignore
.editorconfig
.env.local
.env.*.local
.php-cs-fixer.cache
.phpunit.cache
.php-cs-fixer.dist.php
compose.yaml
compose.*.yaml
Makefile
README.md
docs
node_modules
phpstan.dist.neon
phpunit.dist.xml
public/bundles
scripts
tests
var
vendor
